# Djanog related settings
DJANGO_SECRET_KEY="secret-key-in-quotes"
# DEBUG: For local dev True, for production keep this as False
DEBUG=True
# Again chnage these in production
# add comma separated values like localhost,127.0.0.1,name@domain.app etc
DJANGO_ALLOWED_HOSTS=127.0.0.1
CSRF_TRUSTED_ORIGINS=

# DB settings
DB_NAME=my_db_name
DB_USER=postgres
DB_PASSWORD=my_db_password
DB_HOST=localhost
DB_PORT=5432

# django-allauth social provider settings
GOOGLE_CLIENT_ID=your_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_secret

# Email settings (Example for Resend)
EMAIL_HOST=smtp.resend.com
EMAIL_HOST_USER=resend
EMAIL_PORT=587
EMAIL_USE_TLS=True
# resend api acts as the email host password
RESEND_API_KEY=re_your_key
DEFAULT_FROM_EMAIL=example@gmail.com