{% extends 'notes/dashboard_base.html' %}

{% block main %}
<!-- main body content -->
<div class="p-2 max-w-full">
	{# RENDERED List of notes, starred, recent here	#}

	<!-- search: minimal version -->
	<form action="{% url 'notes:notes_search_page' %}" method="get"
				class="w-full flex flex-col sm:flex-row gap-4 bg-base-200 p-4 rounded-lg shadow-md hover:shadow-lg focus:shadow-lg mb-8">
		<label class="floating-label flex-auto">
		  <span class="">Search</span>
		  <input type="text" name="q" placeholder="Search"
		         class="input input-primary shadow-sm w-full" />
		</label>

		<button type="submit" class="btn btn-primary shrink-0">
			Search
		</button>
	</form>

	<!-- recent notes -->
	<section class="mb-4">
    <h2 class="text-base-content text-2xl font-bold mb-4 shrink">Continue Working</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
	    {% for note in recent_notes %}
		    {% include 'notes/partial_note_item.html' with note=note %}
      {% empty %}
        <div class="col-span-full py-10 flex flex-col items-center justify-center border-2 border-dashed border-base-300 rounded-xl text-base-content/50">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 mb-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
          <span class="text-sm font-medium">No recent notes</span>
          <a href="{% url 'notes:new_note_page' %}" class="text-center mt-2 text-sm font-medium ">Click here to start creating notes now!</a>
        </div>
      {% endfor %}
    </div>

		<div class="w-full mt-2 flex justify-end">
			<a href="{% url 'notes:notes_search_page' %}"
				 class="btn btn-sm btn-link text-base-content">
				Load More
			</a>
		</div>
	</section>


	<!-- starred notes -->
	<section class="mb-4">
    <h2 class="text-base-content text-2xl font-bold mb-4 shrink">Starred</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
	    {% for note in starred_notes %}
		    {% include 'notes/partial_note_item.html' with note=note %}
      {% empty %}
		    <span class="text-sm font-medium col-span-full">Looking lonely here. Star notes now!</span>
	    {% endfor %}
    </div>

		<div class="w-full mt-2 flex justify-end">
			<a href="{% url 'notes:notes_search_page' %}?is_starred=on"
				 class="btn btn-sm btn-link text-base-content">
				Load More
			</a>
		</div>
	</section>

	<!-- Group display -->
  <h2 class="text-base-content text-2xl font-bold mb-6">My Groups</h2>
	{% for group in groups_with_notes %}
		{% if group.preview_notes %}
			<section class="">
		    <h3 class="text-base-content text-xl font-bold mb-4 shrink">{{ group.name }}</h3>

		    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
			    {% for note in group.preview_notes %}
				    {% include 'notes/partial_note_item.html' with note=note %}
			    {% endfor %}
		    </div>

				<div class="w-full mt-2 flex justify-end">
					<a href="{% url 'notes:notes_search_page' %}?group={{ group.id }}"
						 class="btn btn-sm btn-link text-base-content">
						Load More
					</a>
				</div>
			</section>
		{% endif %}
	{% endfor %}

</div>
{% endblock main %}