{% extends 'notes/dashboard_base.html' %}

{% block main %}
<!-- top navbar -->
<div class="bg-base-200 w-full flex flex-col md:flex-row items-center gap-4 p-4 rounded-xl shadow-sm hover:shadow-md focus:shadow-md">
	<!-- left side: title + group name -->
	<div class="flex items-center w-full md:w-auto md:flex-1 min-w-0 gap-2">
    <h1 class="text-primary ml-2 text-lg md:text-2xl font-semibold truncate flex-1 min-w-0">{{ note.title }}</h1>
		<div class="divider divider-horizontal mx-0 shrink-0"></div>
		<h2 class="text-secondary text-xl font-semibold truncate shrink-0 max-w-[40%] md:max-w-[200px]">{{ note.group }}</h2>
	</div>

	<!-- right side: starred, edit, delete buttons -->
	<div class="flex items-center justify-around md:justify-end w-full md:w-auto gap-3 shrink-0">
		{% include 'notes/partial_star_button.html' with note=note %}

		<a href="{% url 'notes:note_edit_page' note.id %}" class="btn btn-secondary">Edit</a>

		<button class="btn btn-error" type="button"
						hx-delete="{% url 'notes:note_delete_page' note.id %}"
						hx-confirm="Are you sure you want to delete '{{ note.title }}'?">
			Delete
		</button>

	</div>
</div>

<!-- main body content -->
<div class="p-2 max-w-full prose">
	{# RENDERED MAIN CONTENT HERE	#}
	{% if note.rendered_content %}
		<!-- render as safe html -->
		{{ note.rendered_content|safe }}
	{% else %}
		<p class="warning">Edit to add content...</p>
	{% endif %}
</div>

{% endblock main %}