{% for note in notes_list %}
	{% include 'notes/partial_note_item.html' with note=note %}
{% empty %}
	<span class="text-sm font-medium col-span-full">No notes found.</span>
{% endfor %}

{% if notes_list.has_next %}
	<div class="col-span-full flex justify-center py-8" id="load-more-container">

    <button class="btn btn-wide btn-soft"
            hx-get="{% url 'notes:all_notes_view' %}?page={{ notes_list.next_page_number }}"
            hx-target="#load-more-container"
            hx-swap="outerHTML"
            hx-indicator="#loading-spinner">
      Load More Notes
    </button>
    <span id="loading-spinner" class="loading loading-spinner htmx-indicator ml-2"></span>
  </div>
{% endif %}