<a href="{% url 'notes:note_detail_page' note.id %}"
   class="group relative card bg-base-100 shadow-sm border border-base-200 hover:border-primary hover:shadow-md transition-all">

	<div class="card-body p-4 flex flex-col h-full">
		<div class="flex justify-between items-start w-full mb-1 gap-2">
			<h3 class="card-title min-w-0 font-semibold truncate text-base-content group-hover:text-primary">
				{{ note.title }}
			</h3>

			{% include 'notes/partial_star_button.html' with note=note %}
		</div>

		<p class="text-xs text-base-content/60 line-clamp-2 leading-relaxed">
			{% if note.raw_content %}
				{{ note.raw_content }}
			{% else %}
				<span class="italic opacity-50">No content...</span>
			{% endif %}
		</p>

		<div class="mt-auto flex items-center justify-between w-full pt-2 gap-2 shrink">
			{% if note.group %}
				<span class="badge badge-sm truncate max-w-[50%] text-xs opacity-80">{{ note.group.name }}</span>
			{% else %}
				<span></span>
			{% endif %}

			<span class="text-[10px] shrink-0 font-semibold opacity-40 tracking-wider">
				{{ note.updated_at|timesince }} ago
			</span>
		</div>
	</div>
</a>